Pandas Reshape

In Pandas, reshaping data refers to the process of converting a DataFrame from one format to another for better data visualization and analysis.

Reshape Data Using pivot()

In [11]:
import pandas as pd
data = {'Date': ['2023-08-01', '2023-08-01', '2023-08-02', '2023-08-02','2023-08-04', '2023-08-02'],
        'Category': ['A', 'B', 'A', 'B','C','C'],
        'Value': [10, 20, 30, 40,30,20]}

In [12]:
df = pd.DataFrame(data)

In [13]:
df

         Date Category  Value
0  2023-08-01        A     10
1  2023-08-01        B     20
2  2023-08-02        A     30
3  2023-08-02        B     40
4  2023-08-04        C     30
5  2023-08-02        C     20

In [14]:
# pivot the  DataFrame
pivot_df = df.pivot(index='Date', columns='Category', values='Value')
print("Reshaped DataFrame:\n", pivot_df)

Reshaped DataFrame:
 Category       A     B     C
Date
2023-08-01  10.0  20.0   NaN
2023-08-02  30.0  40.0  20.0
2023-08-04   NaN   NaN  30.0

In this example, we have passed the parameters index, columns and values to the pivot function. Here,

index specifies the column to be used as the index for the pivoted DataFrame
columns specifies the column whose unique values will become the new column headers
values specifies the column containing the values to be placed in the new columns

Reshape Data Using pivot_table()

In [15]:
import pandas as pd

# create a DataFrame
data = {'Category': ['A', 'B', 'A', 'B', 'A', 'B'],
        'Value': [10, 20, 30, 40, 50, 60]}
df = pd.DataFrame(data)
print("Original Dataframe:\n", df)

# create a pivot table
pivot_table_df = df.pivot_table(index='Category', values='Value', aggfunc='mean')
print("Reshaped Dataframe:\n", pivot_table_df)

Original Dataframe:
   Category  Value
0        A     10
1        B     20
2        A     30
3        B     40
4        A     50
5        B     60
Reshaped Dataframe:
           Value
Category
A          30.0
B          40.0

Inside the pivot_table(), we have passed parameters as

index = Category - specifying the Category column as the index of the pivot table. This means that each unique value in Category will become a row index in the pivot table
values = Value - specifying the Value column as the source of values that will be used for aggregation in the pivot table
aggfunc = mean - we are using the mean aggregation function to calculate the average value of the Value column for each category.

Reshape Data Using stack() and unstack()