Pandas DataFrame Analysis

Pandas DataFrame objects come with a variety of built-in functions like head(), tail() and info() 
that allow us to view and analyze DataFrames.

Pandas head()

In [13]:
import pandas as pd

# create a dataframe
data = {'Name': ['Abu Bakar', 'Bilal', 'Hassan', 'Zain', 'Alex', 'Memo', 'Siri', 'Aman', 'Tom', 'Eva'],
        'Age': [25, 22, 17, 28, 32, 27, 40, 33, 29, 31],
        'City': ['Berlin', 'Karachi', 'Hamburg', 'Sydney', 'Berlin', 'Berlin', 'Rome', 'Madrid', 'Toronto', 'Moscow']}
df = pd.DataFrame(data)
print(df)
print()
print("Using head(3) function: ")
print()
print("In head(3) it will show first 3 row: \n",df.head(3))
print()
print("If with head() it will default show 1st 5 row: \n",df.head())

        Name  Age     City
0  Abu Bakar   25   Berlin
1      Bilal   22  Karachi
2     Hassan   17  Hamburg
3       Zain   28   Sydney
4       Alex   32   Berlin
5       Memo   27   Berlin
6       Siri   40     Rome
7       Aman   33   Madrid
8        Tom   29  Toronto
9        Eva   31   Moscow

Using head(3) function:

In head(3) it will show first 3 row:
         Name  Age     City
0  Abu Bakar   25   Berlin
1      Bilal   22  Karachi
2     Hassan   17  Hamburg

If with head() it will default show 1st 5 row:
         Name  Age     City
0  Abu Bakar   25   Berlin
1      Bilal   22  Karachi
2     Hassan   17  Hamburg
3       Zain   28   Sydney
4       Alex   32   Berlin

Pandas tail()

The tail() method is similar to head() but it returns data starting from the end of the DataFrame.

In [14]:
print('Last Three Rows:')
print(df.tail(3))
print()

# display the last five rows
print('Last Five Rows:')
print(df.tail())

Last Three Rows:
   Name  Age     City
7  Aman   33   Madrid
8   Tom   29  Toronto
9   Eva   31   Moscow

Last Five Rows:
   Name  Age     City
5  Memo   27   Berlin
6  Siri   40     Rome
7  Aman   33   Madrid
8   Tom   29  Toronto
9   Eva   31   Moscow

Get DataFrame Information

The info() method gives us the overall information about the DataFrame such as its class, data type, size etc.

In [15]:
# get info about dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    10 non-null     object
 1   Age     10 non-null     int64
 2   City    10 non-null     object
dtypes: int64(1), object(2)
memory usage: 372.0+ bytes