Pandas DataFrame

A DataFrame is like a table where the data is organized in rows and columns. It is a two-dimensional data structure like a two-dimensional array

Pandas DataFrame Using Python Dictionary

In [2]:
import pandas as pd


data = {'Name': ['Abu Bakar', 'Bilal', 'Hassan'],
       'Age': [25, 22, 17],
       'City': ['Berlin', 'Karachi', 'Hamburg']}

# create a dataframe from the dictionary
df = pd.DataFrame(data)

print(df)

        Name  Age     City
0  Abu Bakar   25   Berlin
1      Bilal   22  Karachi
2     Hassan   17  Hamburg

Pandas DataFrame Using Python List

In [7]:
import pandas as pd

# create a two-dimensional list
data = [['Abu Bakar', 25, 'Berlin'],
       ['Bilal', 22, 'Karachi'],
       ['Hassan', 17, 'Hamburg']]

df = pd.DataFrame(data, columns=['Name', 'Age', 'City'])

print(df)

        Name  Age     City
0  Abu Bakar   25   Berlin
1      Bilal   22  Karachi
2     Hassan   17  Hamburg

In [15]:
# dataSet = pd.read_csv('E:\Learning\DataSet\PandasDataSet1.csv')
# dataSet = pd.read_csv('E:/Learning/DataSet/PandasDataSet1.csv')
dataSet = pd.read_csv('E:\\Learning\\DataSet\\PandasDataSet1.csv' ,sep=';')
myDF = pd.DataFrame(dataSet)
print(myDF)

        Name  Age     City
0  Abu Bakar   25   Berlin
1      Bilal   22  Karachi
2     Hassan   17  Hamburg

In [25]:
# dataSet = pd.read_excel('E:\Learning\DataSet\PandasDataSet1.xlsx')
dataSet2 = pd.read_excel('E:/Learning/DataSet/PandasDataSet1.xlsx')
# dataSet2 = pd.read_excel('E:\\Learning\\DataSet\\PandasDataSet1.xlsx')
myDF2 = pd.DataFrame(dataSet2)
print(myDF2)

        Name  Age     City
0  Abu Bakar   25   Berlin
1      Bilal   22  Karachi
2     Hassan   17  Hamburg

Create an Empty DataFrame

In [26]:
import pandas as pd

# create an empty DataFrame
df = pd.DataFrame()

print(df)

Empty DataFrame
Columns: []
Index: []