Pandas MultiIndex

A MultiIndex in Pandas is a hierarchical indexing structure that allows us to represent and work with higher-dimensional data efficiently.

In simple: Instead of using one label to identify a row, Pandas uses multiple labels

In [5]:
import pandas as pd

data = {
    "Continent": ["North America", "Europe", "Asia", "North America", "Asia", "Europe", "North America", "Asia", "Europe", "Asia"],
    "Country": ["United States", "Germany", "Pakistan", "Canada", "China", "France", "Mexico", "India", "Italy", "Bangladesh"],
    "Population": [331002651, 83783942, 1439323776, 37742154, 126476461, 65273511, 128932753, 1380004385, 67886011, 29136808]
}

df = pd.DataFrame(data)

print(df)

       Continent        Country  Population
0  North America  United States   331002651
1         Europe        Germany    83783942
2           Asia       Pakistan  1439323776
3  North America         Canada    37742154
4           Asia          China   126476461
5         Europe         France    65273511
6  North America         Mexico   128932753
7           Asia          India  1380004385
8         Europe          Italy    67886011
9           Asia     Bangladesh    29136808

In [6]:
df

       Continent        Country  Population
0  North America  United States   331002651
1         Europe        Germany    83783942
2           Asia       Pakistan  1439323776
3  North America         Canada    37742154
4           Asia          China   126476461
5         Europe         France    65273511
6  North America         Mexico   128932753
7           Asia          India  1380004385
8         Europe          Italy    67886011
9           Asia     Bangladesh    29136808

In [7]:
# sort the data by continent
df.sort_values('Continent', inplace=True)

In [8]:
df

       Continent        Country  Population
2           Asia       Pakistan  1439323776
4           Asia          China   126476461
7           Asia          India  1380004385
9           Asia     Bangladesh    29136808
1         Europe        Germany    83783942
5         Europe         France    65273511
8         Europe          Italy    67886011
0  North America  United States   331002651
3  North America         Canada    37742154
6  North America         Mexico   128932753

In [9]:
df.set_index(['Continent','Country'], inplace=True)

In [10]:
df

                             Population
Continent     Country
Asia          Pakistan       1439323776
              China           126476461
              India          1380004385
              Bangladesh       29136808
Europe        Germany          83783942
              France           65273511
              Italy            67886011
North America United States   331002651
              Canada           37742154
              Mexico          128932753

In [27]:
df.sort_index(inplace=True)

In [50]:
df.loc[('Asia'):('Europe'),:]

                      Population
Continent Country
Asia      Bangladesh    29136808
          China        126476461
          India       1380004385
          Pakistan    1439323776
Europe    France        65273511
          Germany       83783942
          Italy         67886011

In [52]:
df.loc[('North America', 'Canada')]

Population    37742154
Name: (North America, Canada), dtype: int64

In [54]:
import pandas as pd

continent = ['Asia', 'Asia', 'Asia', 'Asia', 'Europe', 'Europe', 'Europe', 'North America', 'North America', 'North America']
country = ['China', 'Pakistan', 'Bangladesh', 'India', 'France', 'Germany', 'United Kingdom', 'Canada', 'Mexico', 'United States']
population = [1439323776, 1380004385, 126476461, 29136808, 65273511, 83783942, 67886011, 37742154, 128932753, 331002651]

indexes = [continent, country]
multiInd = pd.MultiIndex.from_arrays(indexes, names=['Continent','Country'])
df = pd.DataFrame({'Population':population}, index=multiInd)

In [55]:
df

                              Population
Continent     Country
Asia          China           1439323776
              Pakistan        1380004385
              Bangladesh       126476461
              India             29136808
Europe        France            65273511
              Germany           83783942
              United Kingdom    67886011
North America Canada            37742154
              Mexico           128932753
              United States    331002651