Pandas Index

In Pandas, an index refers to the labeled array that identifies rows or columns in a DataFrame or a Series.

Pandas offers several ways to create indexes. Some common methods are as follows:

1. Default Index
2. Setting Index
3. Creating a Range Index

Default Index
When we create a DataFrame or Series without specifying an index explicitly, Pandas assigns a default integer index starting from 0.

In [30]:
import pandas as pd
data  = [
    ["Abu Bakar",25,"Berlin, Germany"],
    ["Bilal",22,"Karachi, Pakistan"],
    ["Hassan", 17,"Hamburg, Germany"]
]
Df = pd.DataFrame(data, columns = ["Name", "Age", "City"])
print(Df)

        Name  Age               City
0  Abu Bakar   25    Berlin, Germany
1      Bilal   22  Karachi, Pakistan
2     Hassan   17   Hamburg, Germany

Here in the left most corner you can see that the values started from 0 (these are the indexes)

Setting Index

In [31]:
data2 = {
    'Name' : ["Uzair","Bilal","Hassan"],
    'Age' : [25,22,17],
    'City' : ["Berlin, Germany", "Karachi, Pakistan", "Hamburg, Germany"]
}
Df2 = pd.DataFrame(data2)
print(Df2)

# set the 'Name' column as index
Df2.set_index('Name', inplace=True)
print("After Modification: \n ", Df2)

     Name  Age               City
0   Uzair   25    Berlin, Germany
1   Bilal   22  Karachi, Pakistan
2  Hassan   17   Hamburg, Germany
After Modification:
          Age               City
Name
Uzair    25    Berlin, Germany
Bilal    22  Karachi, Pakistan
Hassan   17   Hamburg, Germany

In [32]:
data3 = {
    'Name' : ["Uzair","Bilal","Hassan"],
    'Age' : [25,22,17],
    'City' : ["Berlin, Germany", "Karachi, Pakistan", "Hamburg, Germany"]
}
Df3 = pd.DataFrame(data3, index= pd.RangeIndex(5,8, name = "Index"))

print("After Modification: \n ", Df3)

After Modification:
           Name  Age               City
Index
5       Uzair   25    Berlin, Germany
6       Bilal   22  Karachi, Pakistan
7      Hassan   17   Hamburg, Germany

In [36]:
import pandas as pd
data  = [
    ["Abu Bakar",25,"Berlin, Germany"],
    ["Bilal",22,"Karachi, Pakistan"],
    ["Hassan", 17,"Hamburg, Germany"]
]
Df = pd.DataFrame(data, columns = ["Name", "Age", "City"])
print("Original DataFrame With Default Index: \n", Df)

Df.rename(index = {0:"A", 1:"B", 2:"C"}, inplace= True)

print("After Modification: \n ", Df)

Original DataFrame With Default Index:
         Name  Age               City
0  Abu Bakar   25    Berlin, Germany
1      Bilal   22  Karachi, Pakistan
2     Hassan   17   Hamburg, Germany
After Modification:
          Name  Age               City
A  Abu Bakar   25    Berlin, Germany
B      Bilal   22  Karachi, Pakistan
C     Hassan   17   Hamburg, Germany

reseting the indexes

In [37]:
Df.reset_index(inplace= True)
print("After Resetting: \n", Df)

After Resetting:
   index       Name  Age               City
0     A  Abu Bakar   25    Berlin, Germany
1     B      Bilal   22  Karachi, Pakistan
2     C     Hassan   17   Hamburg, Germany

Access Rows by Index

In [42]:
import pandas as pd

# create a dataframe
data = {'Name': ['John', 'Alice', 'Bob'],
        'Age': [25, 28, 32],
        'City': ['New York', 'London', 'Paris']}

df = pd.DataFrame(data)
print(df)
secondRow = df.iloc[1]

print("Second Row: \n",secondRow)

    Name  Age      City
0   John   25  New York
1  Alice   28    London
2    Bob   32     Paris
Second Row:
 Name     Alice
Age         28
City    London
Name: 1, dtype: object

Get DataFrame Index

In [44]:
Df.index

RangeIndex(start=0, stop=3, step=1)

In [47]:
Df.index.values

array([0, 1, 2])